$green-light: #5ec587;
$green-medium: #2fd772;

.menu-nav-item {
    text-align: center;
    color: $green-light !important;
    font-weight: 700;
}
.menu-nav-item:hover {
    color: $green-medium !important;
}
.menu-search {
    margin: auto;
    .menu-search-input {
        border-radius: 15px 0 0 15px;
    }
    .menu-search-button {
        border-left: 0;
        border-color: #ced4da;
        border-radius: 0 15px 15px 0;
        background-color: white;
    }
}
.menu-mobile-only {
    display: none;
}
@media (max-width: 992px) {    
    .menu-nav-item {
        color: grey !important;
    }
    .menu-nav-item:hover {
        color: black !important;
    }
    .menu-search{
        width: 80% !important;
    }
    .menu-mobile-only {
        display: inline;
    }
}
